.main-1__tepa{
    display: flex;
    gap: 113px;
    background: url("../images/Rectangle\ 4\ \(1\).png") no-repeat 21% 40%;


    iframe{
        margin-top: 135px;
        margin-left: 369px;
        width: 561px;
        height: 483px;
        border-radius: 35px;
        margin-bottom: 109px;
        position: relative;


        &:before{
            content: "";
            width: 354px;
            height: 436px;
            background-color: #2AE85F;
            position: absolute;
            z-index: 10;
        }
    }
    .main-1__span{
        margin-top: 160px;
        display: inline-block;
        font-size: 19px;
        line-height: 23px;
        font-weight: 700;
        color: #3EA83B;
        font-family: "poppins";
        margin-bottom: 28px;
    }
    h2{
        font-size: 46px;
        line-height: 23px;
        font-weight: 700;
        color: #363739;
        margin-bottom: 37px;
    }
    p{
        font-size: 16px;
        line-height: 23px;
        font-weight: 400;
        color: #363739;
        width: 488px;
    }
    .main-1__p1{
        margin-bottom: 20px;
    }
    .main-1__p2{
        margin-bottom: 20px;
    }
    
    button{
        padding: 14px 46px 15px 47px;
        margin-top: 30px;
    }
}

.main-1__pasti{
    display: flex;
    gap: 86px;
    padding-left: 389px;



    .main-1__pasti--chap{
        display: flex;
        gap: 21px;
        

        .frame{
            width: 132px;
            height: 132px;
            border-radius: 50%;
            background:linear-gradient(90deg,#2AE85F,#2AE85F,);
            padding: 41px 38px 41px 45px;
        }


        .main-1__pasti--span{
            font-size: 21px;
            line-height: 23px;
            font-weight: 700;
            color: #363739;
            width: 227px;
            
        }


        p{
            font-size: 16px;
            line-height: 23px;
            font-weight: 400;
            margin-top: 17px;
            color: #363739;
            width: 351px;
            margin-bottom: 96px;
        }
        .frame-2{
            padding: 33px 30px 27px 29px;
        }
    }
}


.main-2{
    display: flex;
    padding: 116px 347px 81px 386px;
    align-items: center;
    color: white;
    font-family: "poppins";
    background:url("../images/Rectangle\ 14.png") no-repeat  80% 0,
    url("../images/Rectangle\ 24\ \(2\).png") no-repeat 75% 20%,
    url("../images/Rectangle\ 25\ \(2\).png") no-repeat 50% 20%
    
    #3646D9;




    .main-2__span{
        font-size: 19px;
        line-height: 23px;
        font-weight: 700;
    }

    h2{
        font-size: 46px;
        line-height: 53px;
        font-weight: 700;
        margin-top: 12px;
    }

    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 29px;
        font-family: "lato";
        margin-top: 20px;

    }

    ul{
        margin-top: 39px;

        li{
            display: flex;
            align-items: center;
            gap: 19px;
            margin-bottom: 17px;
        }
    }
}

.main-2__li-span{
    font-size: 20px;
    width: 475px;
    font-weight: 700;
}
.main-2-left{
    max-width: 500px;
}